{% if nota.pode_gerir_assinaturas(current_user) or nota.pode_aprovar(current_user) %}
<script src="{{ asset('js/signature_zones.js') }}"></script>
{% endif %}
{% if ((_recolher_entrega or _recolher_recebido) and nota.pode_gerir_assinaturas(current_user)) or nota.pode_aprovar(current_user) %}
<script src="{{ asset('js/signature_canvas.js') }}"></script>
{% endif %}
{% if (_recolher_entrega or _recolher_recebido) and nota.pode_gerir_assinaturas(current_user) %}
<script src="{{ asset('js/signature_capture.js') }}"></script>
{% endif %}
{% if nota.pode_aprovar(current_user) %}
<script id="aprovadorPreviewMeta" type="application/json">{{ {
    "notaId": nota.id,
    "tipo": ("entrega" if request.blueprint == "entrega" else "saida"),
    "uploadUrl": url_for(request.blueprint ~ ".upload_minha_assinatura"),
    "deleteUrl": url_for(request.blueprint ~ ".apagar_minha_assinatura"),
    "assinaturaUrl": url_assinatura(current_user.assinatura_path)
} | tojson }}</script>
<script src="{{ asset('js/signature_perfil_manager.js') }}"></script>
<script src="{{ asset('js/signature_aprovacao.js') }}"></script>
{% endif %}
